	*{
		margin: 0;
		padding: 0;
	}
	
$bgc-green: #DCF8E1;
$bgc-blac: #242424;
$bgc-gray:#F2F2F2;
$fon-s:1.2rem;
$alpha:0.8;

img, object {
	max-width: 100%;
} 
body{
		font-family: 'Times New Roman',Microsoft YaHei;
		background: $bgc-green;
		color: #fff;	
	}
#up-btn{
	position: fixed;
	display:none;
}
	//
	#banner{
			background-color: $bgc-gray;
			width: auto;
			height: 56px;
			line-height: 56px;
			padding-left:10%;
			padding-right:10%;
			box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.34);
			z-index: 100;
			div{
				display: inline-block;
				margin-right: 1%;
				height: 36px;
				line-height: 36px;
				width: 76px;		
				border-radius: 20px;
				text-align: center;
				a{
					text-decoration: none;
					color:$bgc-blac;
					font-size: $fon-s;

				}
				
			}
			div:hover,.a1{
					background: #5B5B5B;
					box-shadow: 0px 0px 6px 0px rgba(255,255,255,0.50), inset 0px 0px 10px 0px rgba(0,0,0,0.50);
					background-color:#5B5B5B;
					a{
						color: #fff;
					}
			}
			.clos-lit{
				float: right;
				color:$bgc-blac;
				text-decoration: none;
				line-height: 56px;
				overflow: hidden;
				height: 56px;
				font-size:100%;
				padding-top:8px;
				padding-bottom:10px;
				img{
				margin-right:5px;
				}
				}
			
	}

//head 
// 
#head{
		height:700px;
		
		margin: 0 auto;
		z-index:1;

		.logo{
			float: left;
			margin-top: 40px;
			margin-left:10%;
			overflow: hidden;
		}
		.name{
			float: left;
			margin-top: 40px;
			margin-left:3%;
		}
		.name-2{
			float: left;
			margin-top: 87px;
			margin-left:10px;
		}
		.crap{
				clear: both;
				position: relative;
				top: 10px;
				.show{
				overflow: hidden;
				height: 400px;
				width: 80%;
				margin: 0px auto;
				background: $bgc-gray;
				box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.35);
				img{
					margin: 0 auto;
				}
				}
		}
		.left-btn{
			float: left;
			padding:(400px-140px)/2 2.5%;
		}
		.right-btn{
			float: right;
			padding:(400px-140px)/2 2.5%;
		}
}

#sec-1{
	height:400px;
	width:auto;
	background-color: #fff;
}

#sec-2{
	height:400px;
	width:auto;
	background-color: #232323;
}

#sec-3{
	height:400px;
	width:auto;
	background-color: #F3F3F3;
}








